/**
 * CSS Name: Default style
 * Description: The default style for NextCellent.
 * Author: NextCellent
 *
 * This is a template stylesheet that can be used with NextCellent. Is is very minimalistic, and shouldn't clash with
 * any existing theme.
 */